/* generator-1 */
#generator-1 #inner-generator-box-1 img {
  max-width: 90%;
}

#generator-1 #inner-generator-box-2 img {
  max-width: 87.5%;
  object-position: 0 -0.7rem;
}

#generator-1 #inner-generator-box-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-1 #inner-generator-box-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-1 #inner-generator-box-5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-1 #inner-generator-box-6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-1 #inner-generator-box-7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-1 #inner-generator-box-8 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-1 #inner-generator-box-9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* generator-2 */
#generator-2 #inner-generator-box-1 img {
  max-width: 80%;
  object-position: 0.5rem -2.7rem;
}

#generator-2 #inner-generator-box-2 img {
  max-width: 68%;
  object-position: 0 -0.6rem;
}

#generator-2 #inner-generator-box-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-2 #inner-generator-box-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-2 #inner-generator-box-5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-2 #inner-generator-box-6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-2 #inner-generator-box-7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-2 #inner-generator-box-8 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-2 #inner-generator-box-9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* generator-3 */
#generator-3 #inner-generator-box-1 img {
  max-width: 90%;
}

#generator-3 #inner-generator-box-2 img {
  max-width: 87.5%;
  object-position: 0 -0.7rem;
}

#generator-3 #inner-generator-box-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-3 #inner-generator-box-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-3 #inner-generator-box-5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-3 #inner-generator-box-6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-3 #inner-generator-box-7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-3 #inner-generator-box-8 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-3 #inner-generator-box-9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* generator-4 */
#generator-4 #inner-generator-box-1 img {
  max-width: 90%;
}

#generator-4 #inner-generator-box-2 img {
  max-width: 87.5%;
  object-position: 0 -0.7rem;
}

#generator-4 #inner-generator-box-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-4 #inner-generator-box-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-4 #inner-generator-box-5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-4 #inner-generator-box-6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-4 #inner-generator-box-7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-4 #inner-generator-box-8 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#generator-4 #inner-generator-box-9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
